/* Write your own custom base styles here */
/* Start purging... */
@import 'vendor/material-kit-pro';
/* Stop purging. */
@import 'typography';
@import 'loader';
html,
body {
  scroll-behavior: smooth;
  background-color: #fff;
}

.line-clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3; 
  -webkit-box-orient: vertical;
}

table {
  &.first-backgrounded {
    tr {
      &:first-child {
        background: #BA1A18;
        color: #fff;
        font-weight: 600;
      }
    }
  }
}
/* Your own custom utilities */